body{
    margin: 0;
    padding: 0;
}
.section{
    display: flex;
    justify-content: center;
}
.container{
    border: 5px solid;
    border-top: 8px solid rgb(205, 56, 56);
    border-bottom: 8px solid rgb(205, 56, 56);
    border-radius: 5px;
    padding: 30px;
    background-color: lightgrey;
    margin-top: 10%;
}
h1{
    margin: 5px 0;
}
#txt{
    height: 12vh;
    width: 100%;
}
#txt:focus{
    background-color: lightcyan;
}
#btm{
    display: flex;
}
#btm p{
    margin-bottom: 2px;
}
#p2{
    margin-left: auto;
}